<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
</head>
<body>
    <h1>Update a Section</h1>
    <form action="{{ url_for('update_section', section_id=section.id) }}" method="post">
        <div>
            <label for="name">Section Name: </label>
            <input type="text" id="name" name="name" required value="{{ section.name }}">
        </div>
        <div>
            <input type="submit" value="Update Section">
        </div>
    </form>
</body>
</html>
