<html>
<head>
<title>Library Management System</title>
</head>

<body>
    <h1>Library Management System</h1>
    <h3>{{anyvariablename}}</h3>
    
    <form action="/login" method="post">
        <div>
            <label>Username : </label>
            <input type="text" name="username">
        </div>
        <div>
            <label>Password : </label>
            <input type="password" name="password">
        </div>
        <div>
            <input type="submit" name="login">
        </div>
    </form>

    <h3> If you haven't registered yet, register now.</h3>
    <a href="/register"><button>register</button></a>

</body>

</html>